*, *:before, *after {
	box-sizing: border-box;
}

body {
  background: #FFFFFF;
  font-family: SF Pro, sans-serif;
}
.container {
	height: 100%;
	width: auto;
	margin: auto;
}

img.status-bar {
	position: relative;
	width: 375px;
	left: 0px;
	top: 0px;
	srcset='images/illustration-small.png 1x,
				images/illustration-big.png 2x'
	style='max-width: 500px'
}

nav {
  position: relative;
  width: 375px;
  height: 64px;
  left: 0px;
  box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.6);
	background: #D2E3E7;
	backdrop-filter: blur(27.1828px);
}

.left-arrow {
  position: relative;
  font-size: 1.5em;
  left: 4.76%;
  right: 88.42%;
  top: 30%;
  bottom: 50%;
  color: #00000;
}

.title-bar h3 {
position: relative;
 width: 200px;
  height: 22px;
	align-items: center;
	left: calc(50% - 200px/2 - 1px);
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.0241176em;
  color: #000000;}

.table-header {
	position: absolute;
	display: inline-flex;
	width: 375px;
	height: 40px;
	left: 0px;
	top: 85px;
	box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.6);
	background: #ADCBD2;
}

.numbersign {
	position: sticky;
	width: 37px;
	height: 20px;
	left: 19px;
	top: 95px;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	letter-spacing: 0.0120588em;
	color: #000000;
}

.destination {
	position: sticky;
	width: 174px;
	height: 20px;
	left: 56px;
	top: 95px;

	font-family: SF Pro Display;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	letter-spacing: 0.0120588em;

	color: #000000;
}

.time {
	position: sticky;
	width: 69px;
	height: 20px;
	left: 230px;
	top: 95px;

	font-family: SF Pro Display;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.0120588em;

	color: #000000;
}

.next {
	position: sticky;
	width: 44px;
	height: 20px;
	left: 310px;
	top: 95px;

	font-family: SF Pro Display;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	text-align: right;
	letter-spacing: 0.0120588em;

	color: #000000;
}

.timetable{
	width: 375px;
	display: block;
	position: sticky;
	align-items: center;
}

.bus {
	width: 375px;
	height: 57px;
	left: 0px;
	top: 60px;
	border-bottom:2px solid #D2E3E7;
	display: inline-flex;
	position: relative;
	}

p {
	padding-left: 10px;
}

.bus-box {
	width: 39.55px;
	height: 39px;
	left: 19px;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 22px;
	display: flex;
	align-items: flex-end;
}

.bus-destination{
	width: 180px;
	height: 56px;
	left: 56px;

	font-family: SF Pro Text;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: center;
	letter-spacing: -0.0241176em
}
.bus-time {
	left: 236px;
	width: 80px;
	height: 56px;
	bottom: 78.88%;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	display: flex;
	align-items: center;
	text-align: left;
	letter-spacing: -0.016em;
}

.bus-next {
	width: 55px;
	height: 47px;
	left: 316px;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 20px;
	display: inline-flex;
	align-items: center;
	text-align: left;
	letter-spacing: -0.016em;
	padding-right: 5px;
	padding-top: 5px;

}
.busreroute {
	width: 375px;
	height: 57px;
	left: 0px;
	top: 60px;
	border-bottom:2px solid #D2E3E7;
	display: inline-flex;
	position: relative;
	background: rgba(255, 149, 0, 0.5);
}

.busout {
	width: 375px;
	height: 57px;
	left: 0px;
	top: 60px;
	border-bottom:2px solid #D2E3E7;
	display: inline-flex;
	position: relative;
	background: #C8C7CC;
}
